/* line 1, ../sass/calendar.scss */
* {
  margin: 0px;
  padding: 0px;
}

/* line 5, ../sass/calendar.scss */
.tdaclick {
  border: solid 1px #993399;
}

/* line 6, ../sass/calendar.scss */
.calcont {
  background: #fff;
  position: absolute;
  display: none;
  top: 100px;
  left: 300px;
  border: #993399 solid 1px;
  width: 200px;
  height: 170px;
  text-align: center;
}
/* line 15, ../sass/calendar.scss */
.calcont .calHead {
  width: 100%;
  height: 25px;
}
/* line 18, ../sass/calendar.scss */
.calcont .calHead .preMonth {
  margin: 5px 0 0 10px;
  display: inline-block;
  width: 0px;
  height: 0px;
  border-top: 5px solid transparent;
  border-right: 8px solid #000;
  border-bottom: 5px solid transparent;
}
/* line 27, ../sass/calendar.scss */
.calcont .calHead .currentYearText {
  margin: 5px 5px 0 15px;
  width: 50px;
  display: inline-block;
}
/* line 31, ../sass/calendar.scss */
.calcont .calHead .currentYearText .currentYear {
  text-decoration: none;
  color: #000;
}
/* line 36, ../sass/calendar.scss */
.calcont .calHead .currentMonthText {
  display: inline-block;
  margin: 5px 15px 0 5px;
  width: 50px;
}
/* line 40, ../sass/calendar.scss */
.calcont .calHead .currentMonthText .currentMonth {
  text-decoration: none;
  color: #000;
}
/* line 45, ../sass/calendar.scss */
.calcont .calHead .nextMonth {
  display: inline-block;
  width: 0px;
  height: 0px;
  border-top: 5px solid transparent;
  border-left: 8px solid #000;
  border-bottom: 5px solid transparent;
}
/* line 54, ../sass/calendar.scss */
.calcont .Content {
  height: 145px;
  overflow: hidden;
  position: absolute;
  width: 100%;
  font-size: 10px;
}
/* line 60, ../sass/calendar.scss */
.calcont .Content #calContent {
  position: absolute;
  top: 0px;
}
/* line 64, ../sass/calendar.scss */
.calcont .Content #yemonthDate {
  position: absolute;
  top: 0px;
  display: none;
}
/* line 69, ../sass/calendar.scss */
.calcont .Content #yearDate {
  position: absolute;
  top: 0px;
  display: none;
}
/* line 74, ../sass/calendar.scss */
.calcont .Content table {
  border-collapse: collapse;
  width: 100%;
  height: 144px;
}
/* line 78, ../sass/calendar.scss */
.calcont .Content table thead {
  background: #993399;
  color: #fff;
  line-height: 24px;
}
/* line 84, ../sass/calendar.scss */
.calcont .Content table tbody {
  font-family: 'Georgia';
}
/* line 87, ../sass/calendar.scss */
.calcont .Content table tbody .tr {
  line-height: 48px;
  margin: 2px;
}
/* line 90, ../sass/calendar.scss */
.calcont .Content table tbody .tr td {
  width: 42px;
  line-height: 46px;
}
/* line 93, ../sass/calendar.scss */
.calcont .Content table tbody .tr td a {
  width: 40px;
  height: 40px;
  line-height: 40px;
}
/* line 100, ../sass/calendar.scss */
.calcont .Content table tbody tr {
  margin: 2px;
  line-height: 22px;
}
/* line 103, ../sass/calendar.scss */
.calcont .Content table tbody tr .preD, .calcont .Content table tbody tr .nextD {
  color: rgba(0, 0, 0, 0.5);
}
/* line 106, ../sass/calendar.scss */
.calcont .Content table tbody tr td {
  width: 23px;
  line-height: 20px;
}
/* line 109, ../sass/calendar.scss */
.calcont .Content table tbody tr td a {
  display: inline-block;
  width: 20px;
  height: 15px;
  line-height: 15px;
}
/* line 114, ../sass/calendar.scss */
.calcont .Content table tbody tr td a:hover {
  border: solid 1px #993399;
  cursor: pointer;
}
